.b {color: blue;}
.g {color: green;}
.r {color: tomato;}
.l {color: lime;}
.m {color: magenta;}
.question-answer {color: white;}
.question-answer>.question-txt {color: black;}
.question-txt .text-base .code-container {background-color: whitesmoke;color: black;}
.question-txt>.text-base .drop-question {background-color: white;}
.working {
    background-color: rgb(3, 100, 22, .45) ;
}
.draft {
    background-color: rgba(57, 46, 46, 0.5) ;
}
.version{
    border: 2px solid blue;
}
.code-elements-container {
    border: 1px dashed black;
}
#mainScript{
    border: 2px solid red;
}
#draftScript{
    background-color: red !important;
}
#wokingBackupScript{
    background-color: red !important;
}
.black-click-img-box {    
    background-color: black;
}