.browser-tools-code {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.browser-tools-code .tool-code {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex-basis: 50%;
    /* background-color: blue; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* gap: 1.5rem; */
    /* padding: 1rem; */
}
.browser-tools-code .code-scroll {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 250px;/* Optional: control vertical height   */
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    justify-content: flex-start;
    background: #000;
    width: 100%;
}
/* Code Block */
.browser-tools-code .code-block {
    flex: 1 1 400px;
    /* min-width: 300px; */
    width: 100%;
    /* max-width: 100%; */
    border-radius: 8px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
/* Scrollable Code Area */

/* Code Styling */
.browser-tools-code .code-scroll .copy-code  {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #dcdcdc;
    white-space: pre;
    word-break: normal;
}
